# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    tile_molten_refined_glowstone_moltenRefinedGlowstone {
        S:01.Name=ExtraTiC:moltenRefinedGlowstone
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_osmium_moltenOsmium {
        S:01.Name=ExtraTiC:moltenOsmium
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_pokefennium_moltenPokefennium {
        S:01.Name=ExtraTiC:moltenPokefennium
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_fairy_moltenFairy {
        S:01.Name=ExtraTiC:moltenFairy
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_red_aurum_moltenRedAurum {
        S:01.Name=ExtraTiC:moltenRedAurum
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_desh_moltenDesh {
        S:01.Name=ExtraTiC:moltenDesh
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_dark_steel_moltenDarkSteel {
        S:01.Name=ExtraTiC:moltenDarkSteel
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_zinc_moltenZinc {
        S:01.Name=ExtraTiC:moltenZinc
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_brass_moltenBrass {
        S:01.Name=ExtraTiC:moltenBrass
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_adamantine_moltenAdamantine_ {
        S:01.Name=ExtraTiC:moltenAdamantine.
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_conductive_iron_moltenConductiveIron {
        S:01.Name=ExtraTiC:moltenConductiveIron
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_electrical_steel_moltenElectricalSteel {
        S:01.Name=ExtraTiC:moltenElectricalSteel
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_energetic_alloy_moltenEnergeticAlloy {
        S:01.Name=ExtraTiC:moltenEnergeticAlloy
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_phased_gold_moltenPhasedGold {
        S:01.Name=ExtraTiC:moltenPhasedGold
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_phased_iron_moltenPhasedIron {
        S:01.Name=ExtraTiC:moltenPhasedIron
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_redstone_alloy_moltenRedstoneAlloy {
        S:01.Name=ExtraTiC:moltenRedstoneAlloy
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_liquid_silicon_liquidSilicon {
        S:01.Name=ExtraTiC:liquidSilicon
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_soularium_moltenSoularium {
        S:01.Name=ExtraTiC:moltenSoularium
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_voidmetal_moltenVoidmetal {
        S:01.Name=ExtraTiC:moltenVoidmetal
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_molten_bedrockium_moltenBedrockium {
        S:01.Name=ExtraTiC:moltenBedrockium
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=true
        D:07.Temperature=200.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_solid_metal_block_blockFunStuff_blockFunStuff {
        S:01.Name=ExtraTiC:blockFunStuff
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


