# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    tile_ImmersiveEngineering_ore_ore {
        S:01.Name=ImmersiveEngineering:ore
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_storage_storage {
        S:01.Name=ImmersiveEngineering:storage
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_storageSlab_storageSlab {
        S:01.Name=ImmersiveEngineering:storageSlab
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_stoneSlab_stoneSlab {
        S:01.Name=ImmersiveEngineering:stoneSlab
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_metalDevice_metalDevice {
        S:01.Name=ImmersiveEngineering:metalDevice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_metalDevice2_metalDevice2 {
        S:01.Name=ImmersiveEngineering:metalDevice2
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_metalDecoration_metalDecoration {
        S:01.Name=ImmersiveEngineering:metalDecoration
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_metalDecoration2_metalDecoration2 {
        S:01.Name=ImmersiveEngineering:metalDecoration2
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_metalMultiblock_metalMultiblock {
        S:01.Name=ImmersiveEngineering:metalMultiblock
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_woodenDevice_woodenDevice {
        S:01.Name=ImmersiveEngineering:woodenDevice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_woodenDecoration_woodenDecoration {
        S:01.Name=ImmersiveEngineering:woodenDecoration
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_treatedWood_treatedWood {
        S:01.Name=ImmersiveEngineering:treatedWood
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_woodenStairs_woodenStairs {
        S:01.Name=ImmersiveEngineering:woodenStairs
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_woodenStairs1_woodenStairs1 {
        S:01.Name=ImmersiveEngineering:woodenStairs1
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_woodenStairs2_woodenStairs2 {
        S:01.Name=ImmersiveEngineering:woodenStairs2
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_stoneDevice_stoneDevice {
        S:01.Name=ImmersiveEngineering:stoneDevice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_stoneDecoration_stoneDecoration {
        S:01.Name=ImmersiveEngineering:stoneDecoration
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_concreteStairs_concreteStairs {
        S:01.Name=ImmersiveEngineering:concreteStairs
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_concreteTileStairs_concreteTileStairs {
        S:01.Name=ImmersiveEngineering:concreteTileStairs
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_hemp_hemp {
        S:01.Name=ImmersiveEngineering:hemp
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=1.0
        D:09.Sanity=0.1
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_ImmersiveEngineering_clothDevice_clothDevice {
        S:01.Name=ImmersiveEngineering:clothDevice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


