# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    tile_poisoncloud_poisoncloud {
        S:01.Name=swampmobs:poisoncloud
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=-1.0
        D:09.Sanity=-0.1
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


##########################################################################################################
# spoiling
#--------------------------------------------------------------------------------------------------------#
# Set the properties of spoliable items
##########################################################################################################

spoiling {

    item_aspidmeatraw_aspidmeatraw {
        S:01.ID=swampmobs:aspidmeatraw
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=0

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=7
    }

    item_aspidmeatcooked_aspidmeatcooked {
        S:01.ID=swampmobs:aspidmeatcooked
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=0

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=14
    }

    item_mosspie_mosspie {
        S:01.ID=swampmobs:mosspie
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=0

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=14
    }

}


