/*
/*/

!/config/
!/local/
!/modpack/
!/mods/
!/mods_*/
!/scripts/
!/resources/
!/structures/
!.gitignore
!options.txt

# individual "config" files that are client-generated
config/AppliedEnergistics2/recipesitems.csv

