# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:APPENG <APPENG:APPENG.cfg>
    S:BUILDCRAFT <BUILDCRAFT:BUILDCRAFT.cfg>
    S:CRAZYPANTS <CRAZYPANTS:CRAZYPANTS.cfg>
    S:CYANO <CYANO:CYANO.cfg>
    S:ENVIROMINE <ENVIROMINE:ENVIROMINE.cfg>
    S:EREBUS <EREBUS:EREBUS.cfg>
    S:FORESTRY <FORESTRY:FORESTRY.cfg>
    S:FUNWAYGUY <FUNWAYGUY:FUNWAYGUY.cfg>
    S:GAIA <GAIA:GAIA.cfg>
    S:GALAXYSPACE <GALAXYSPACE:GALAXYSPACE.cfg>
    S:GANYMEDES01 <GANYMEDES01:GANYMEDES01.cfg>
    S:GRAVESTONE <GRAVESTONE:GRAVESTONE.cfg>
    S:IVORIUS <IVORIUS:IVORIUS.cfg>
    S:LUMIEN <LUMIEN:LUMIEN.cfg>
    S:LYCANITE <LYCANITE:LYCANITE.cfg>
    S:MCA <MCA:MCA.cfg>
    S:MEKANISM <MEKANISM:MEKANISM.cfg>
    S:MICDOODLE8 <MICDOODLE8:MICDOODLE8.cfg>
    S:NATURA <NATURA:NATURA.cfg>
    S:OPENBLOCKS <OPENBLOCKS:OPENBLOCKS.cfg>
    S:PAVOCADO <PAVOCADO:PAVOCADO.cfg>
    S:RWTEMA <RWTEMA:RWTEMA.cfg>
    S:SHADOWMAGE <SHADOWMAGE:SHADOWMAGE.cfg>
    S:TCONSTRUCT <TCONSTRUCT:TCONSTRUCT.cfg>
    S:TEAM <TEAM:TEAM.cfg>
    S:TMTRAVLR <TMTRAVLR:TMTRAVLR.cfg>
    S:TOAST <TOAST:TOAST.cfg>
    S:atomicstryker <IM:InfernalMobs.cfg>
    S:biomesop <BOP:BiomesOPlenty.cfg>
    S:drzhark <MOC:MoCreatures.cfg>
    S:thaumcraft <TC:Thaumcraft.cfg>
    S:tinker <TC:TinkerConstruct.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


