# Configuration file

adjustments {
    I:anvilCostMultiplier=1
    I:breakChance=12

    # Cost muliplier per enchantment copied onto a book
    # This is multiplied by the enchantment level
    I:copyEnchantToBookCostMultiplier=1

    # Repair bonus added when copying an enchantment to a book
    I:copyEnchantToBookRepairBonus=1

    # Repair bonus added when increasing an enchantment by a level
    I:enchantCombineRepairBonus=2

    # Cost to increase an enchantment by a level
    I:enchantCombineRepairCost=2

    # Repair bonus added when transfering an enchantment to a tool
    I:enchantTransferRepairBonus=1

    # Cost to transfer an enchantment to a tool
    I:enchantTransferRepairCost=1

    # Percentage each item will repair the tool by
    I:itemRepairAmount=25
    I:mainRepairBonusPercent=12
    I:renamingCost=5
    I:renamingRepairBonus=1
    I:repairCostPerItem=3
}


"enchantment blacklist" {
    S:"Eternal Compass" <
     >
    S:Reading <
     >
    S:SpecialMobs.painBow <
     >
    S:SpecialMobs.painSword <
     >
    S:SpecialMobs.plagueBow <
     >
    S:SpecialMobs.plagueSword <
     >
    S:SpecialMobs.poisonBow <
     >
    S:SpecialMobs.poisonSword <
     >
    S:arrowDamage <
     >
    S:arrowFire <
     >
    S:arrowInfinite <
     >
    S:arrowKnockback <
     >
    S:cofh.holding <
     >
    S:cofh.multishot <
     >
    S:confusion <
     >
    S:damage <
     >
    S:damage.all <
        damage.undead
        damage.arthropods
     >
    S:damage.arthropods <
        damage.all
        damage.undead
     >
    S:damage.undead <
        damage.all
        damage.arthropods
     >
    S:digging <
     >
    S:durability <
     >
    S:fire <
     >
    S:fishingSpeed <
     >
    S:frost_walker <
     >
    S:haste <
     >
    S:infinite <
     >
    S:knockback <
     >
    S:lootBonus <
        untouching
     >
    S:lootBonusDigger <
        untouching
     >
    S:lootBonusFishing <
        untouching
     >
    S:mending <
     >
    S:openblocks.explosive <
     >
    S:openblocks.flimflam <
     >
    S:openblocks.laststand <
     >
    S:oxygen <
     >
    S:poison <
     >
    S:protect.all <
        protect.fire
        protect.explosion
        protect.projectile
     >
    S:protect.explosion <
        protect.all
        protect.fire
        protect.projectile
     >
    S:protect.fall <
     >
    S:protect.fire <
        protect.all
        protect.explosion
        protect.projectile
     >
    S:protect.projectile <
        protect.all
        protect.fire
        protect.explosion
     >
    S:railcraft.crowbar.destruction <
     >
    S:railcraft.crowbar.implosion <
        railcraft.crowbar.wrecking
     >
    S:railcraft.crowbar.wrecking <
        railcraft.crowbar.implosion
     >
    S:repair <
        durability
     >
    S:thorns <
     >
    S:untouching <
        lootBonusDigger
     >
    S:waterWorker <
     >
    S:wg.backstab <
        damage.undead
        damage.arthropods
     >
    S:wg.gemstoneBrittle <
     >
    S:wg.gemstonePotency <
     >
    S:wg.invisibleGear <
     >
    S:wg.rideProtect <
     >
    S:wg.stealth <
     >
    S:wg.unveiling <
     >
    S:xpboost <
     >
}


"enchantment limits" {
    I:"Eternal Compass"=1
    I:Reading=1
    I:SpecialMobs.painBow=3
    I:SpecialMobs.painSword=3
    I:SpecialMobs.plagueBow=3
    I:SpecialMobs.plagueSword=3
    I:SpecialMobs.poisonBow=2
    I:SpecialMobs.poisonSword=1
    I:arrowDamage=5
    I:arrowFire=1
    I:arrowInfinite=1
    I:arrowKnockback=2
    I:cofh.holding=4
    I:cofh.multishot=4
    I:confusion=2
    I:damage=5
    I:damage.all=5
    I:damage.arthropods=5
    I:damage.undead=5
    I:digging=5
    I:durability=3
    I:fire=2
    I:fishingSpeed=3
    I:frost_walker=2
    I:haste=3
    I:infinite=1
    I:knockback=2
    I:lootBonus=3
    I:lootBonusDigger=3
    I:lootBonusFishing=3
    I:mending=1
    I:openblocks.explosive=3
    I:openblocks.flimflam=4
    I:openblocks.laststand=2
    I:oxygen=3
    I:poison=2
    I:protect.all=4
    I:protect.explosion=4
    I:protect.fall=4
    I:protect.fire=4
    I:protect.projectile=4
    I:railcraft.crowbar.destruction=3
    I:railcraft.crowbar.implosion=5
    I:railcraft.crowbar.wrecking=5
    I:repair=2
    I:thorns=3
    I:untouching=1
    I:waterWorker=1
    I:wg.backstab=3
    I:wg.gemstoneBrittle=3
    I:wg.gemstonePotency=3
    I:wg.invisibleGear=2
    I:wg.rideProtect=1
    I:wg.stealth=5
    I:wg.unveiling=1
    I:xpboost=3
}


general {
    B:legacyMode=false
}


