# Configuration file

general {
    I:GCEntityClientPlayerMP=0

    # Update Interval time for all Entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


