# Configuration file

"Advanced Mobs" {
    # Animals will fight back if provoked [default: true]
    B:"Animals Retaliate"=false
    B:"Attack Evasion"=true

    # Every time a boss is killed all mob heal and damage multipliers will be increased by this [range: 0.0 ~ 3.4028235E38, default: 0.1]
    S:"Boss Kill Modifier"=0.1

    # Mob Bombs are now Crystals instead of Creepers
    B:"Crystal Bombs"=false

    # Zombies and Skeletons will use boats in water to catch up to you! [default: true]
    B:"Mob Boating"=false

    # Skip the Mob Bomb list and allow everything!
    B:"Mob Bomb All"=false

    # Inverts the mob bomb listing to be act as a blacklist [default: false]
    B:"Mob Bomb Invert"=false
    I:"Mob Bomb Rarity"=9
    S:"Mob Bombs" <
        Spider
     >

    # Mobs are passive until provoked [default: false]
    B:"Neutral Mobs"=false
    I:"Potion Buff Chance (0-100)"=1

    # List of all the valid potion IDs a mob can spawn with. Amplifier is always x1
    I:"Potion Buff List" <
        14
        12
        5
        1
     >
    I:"Wither Skeleton Rarity"=9
    B:"Wither Skeletons"=false
}


Blaze {
    I:"Dimension Blacklist" <
     >
    I:Fireballs=9
    I:Rarity=9
    B:Spawn=false
}


Creeper {
    B:Breaching=true

    # AND HIS NAME IS... [default: false]
    B:"Cena Creeper"=false

    # How rare are they [range: 0 ~ 2147483647, default: 9]
    I:"Cena Creeper Rarity"=32

    # Creepers will run at you at speed before detonating [default: true]
    B:Chargering=true

    # If true, all creeper enhancements will be skipped if siege is not allowed.
    # See freqency and warmup settings under Main. Applies to newly-spawned creepers only. [default: true]
    B:"Enhance only when siege allowed"=true
    B:Napalm=true
    B:Powered=true
    I:"Powered Rarity"=32
}


"Dimension Tweaks" {

    Overworld {
        I:"01.Dimension ID"=0
        D:"02.Health Mult"=1.0
        D:"03.Damage Mult"=1.0
        D:"04.Speed Mult"=1.0
        D:"05.Knockback Resistance Mult"=1.0
    }

}


Enderman {
    B:"Player Teleport"=true

    # Makes Endermen stalk players with side effects
    B:Slender-Mode=false
}


Ghast {
    B:Breaching=true
    I:"Dimension Blacklist" <
     >
    D:"Fire Delay"=1.0
    D:"Fire Distance"=64.0
    I:Rarity=9
    B:Spawn=false
}


Main {
    S:"AI Exempt Mob IDs" <
        VillagerGolem
     >
    B:"Allow Sleep"=true

    # If set to true, ESM will not check whether the entity is a mob or not when setting up new AI
    B:"Ambiguous AI"=true
    B:"Apocalypse Mode"=false

    # Mobs will attack player owned pets [default: true]
    B:"Attack Pets"=true
    I:"Awareness Radius"=64
    B:"Chaos Mode"=false

    # Ignores world specific settings and just uses the global defaults instead
    B:"Enforce Defaults"=true

    # Flips the exemption listing to whitelist mode [default: false]
    B:"Flip Exemtions"=false

    # Forces non pathing mobs to attack from further away. Can cause additional lag
    B:"Force Non-AI Pathing"=false

    # Can mobs harm eachother (type specific in chaos mode) [default: true]
    B:"Friendly Fire"=true

    # The interval in which 'hard' days will occur where mob spawning is increased and lighting is ignored (0 = off, default = 8/full moon) [range: 0 ~ 2147483647, default: 8]
    I:"Hardcore Day Cycle"=0

    # Mobs inflict double damage on hardcore days [default: false]
    B:"Hardcore Double Damage"=false

    # Keeps mobs with an active target from despawning. Can causes issues with chunk loading/unloading
    B:"Keep Loaded"=false

    # Reduces spawning safe zone from 24 blocks to 8 and makes mobs require only basic conditions to spawn
    B:"More Spawning"=false
    I:"Pathing Cap"=16

    # If set to fales, mobs can use much longer routes to get to their target
    B:"Quick Pathing"=true

    # The amount of ticks of resistance given to the player after changing dimensions
    I:"Resistance Cooldown"=200

    # How often in days the various mobs are allowed to gain siege capabilites (dig, pillar, demolition and/or grief - whatever is enabled). Default of 1 means every day/night.
    # The frequency of every x days specified here start from day y, where day y will be the Siege Warmup option below counting down to 0.
    #  [range: 1 ~ 2147483647, default: 1]
    I:"Siege Frequency"=48

    # Specify how many days should act as a warmup period before mobs can become siege-capable. Default of 0 means that mobs on the very first day can siege - no countdown at all.
    # An example use of this is if you set Siege Frequency to 8 for every full moon (under a vanilla lunar cycle), but you want to avoid the first day full moon bringing sieges - set this to any value from 1 to 7. By the time the next Siege Frequeny is reached on day 8, the Siege Warmup would have elapsed either way.
    #  [range: 0 ~ 2147483647, default: 0]
    I:"Siege Warmup"=30
    B:"Villager Targeting"=false

    # How many days until ESM spawns mobs at full rate. [range: 0 ~ 2147483647, default: 7]
    I:"Warm Up Days"=30
    B:"Xray Mobs"=true
}


Skeleton {
    I:"Arrow Error"=0
    I:"Fire Distance"=48
}


Spider {
    I:"Webbing Chance (0-100)"=25
}


Witch {
    # List of potion types witches can throw ("id:duration:lvl") [default: [7:1:0], [2:300:0], [15:300:0], [19:300:0], [18300:1], [4300:2]]
    S:"Custom Potions" <
        7:1:0
        2:300:0
        15:300:0
        19:300:0
        18300:1
        4300:2
     >
}


##########################################################################################################
# World
#--------------------------------------------------------------------------------------------------------#
# For the main list of options please refer to the ESM_Options.cfg file in your world directory.
##########################################################################################################

World {
    I:"Fort Dimensions" <
        0
     >
    I:"Fort Distance"=1024
    I:"Fort Rarity"=100
    S:"Fort Spawner Types" <
        Zombie
        Creeper
        Skeleton
        CaveSpider
        Silverfish
        Spider
        Slime
        Witch
     >
    B:"Spawn Forts"=false
    B:"Use New End"=false
    B:"Use New Nether"=false
}


Zombie {
    # If true, Zombies will target any light source for griefing. Set to false if you want to manually specify them.
    B:"All lightsources griefable"=false

    # If true, Zombies will be able to grief blocks from the block list any time - not just when a siege is underway.
    B:"Always Griefable"=true

    # Use the digging blacklist as a whitelist instead
    B:"Blacklist to Whitelist"=false

    # Zombies can placed armed TNT
    B:"Demolition Zombies"=true
    B:Diggers=true

    # Blacklisted blocks for digging (Add ':#' for metadata e.g. 'minecraft:wool:1')
    S:"Digging Blacklist" <
     >

    # If true, the Zombie siege capabilites will be disabled if siege is not allowed.
    # See freqency and warmup settings under Main. Applies to all existing Zombies - including already-spawned ones. [default: true]
    B:"Enhance only when siege allowed"=true

    # What blocks will be targeted for destruction when not attacking players (Does not affect general digging, light sources are included by default, add ':#' for metadata e.g. 'minecraft:wool:1')
    S:"General Griefable Blocks" <
        minecraft:furnace
        minecraft:crafting_table
        minecraft:melon_stem
        minecraft:pumpkin_stem
        minecraft:fence_gate
        malisisdoors:acaciaFenceGate
        malisisdoors:birchFenceGate
        malisisdoors:darkOakFenceGate
        malisisdoors:jungleFenceGate
        malisisdoors:spruceFenceGate
        etfuturum:fence_gate_spruce
        etfuturum:fence_gate_birch
        etfuturum:fence_gate_jungle
        etfuturum:fence_gate_acacia
        etfuturum:fence_gate_dark_oak
        minecraft:glass_pane
        minecraft:stained_glass_pane
        minecraft:farmland
        minecraft:bed
        AncientWarfareNpc:town_hall
        enviromine:firetorch
        minecraft:torch
        props:props:652
        CarpentersBlocks:blockCarpentersTorch
        GalacticraftCore:tile.glowstoneTorch
        TConstruct:decoration.stonetorch
        chisel:torch1,chisel:torch2
        chisel:torch3,chisel:torch4
        chisel:torch5,chisel:torch6
        chisel:torch7
        chisel:torch8
        chisel:torch9
        chisel:torch10
        Railcraft:lantern.stone:*
        ganyssurface:lantern
        props:props:139
        props:props:179
        props:props:180
        props:props:181
        props:props182
        props:props:183
        props:props:184
        minecraft:farmland
        minecraft:bed
        minecraft:crafting_table
        minecraft:glass_pane
        minecraft:stained_glass_pane
        CarpentersBlocks:blockCarpentersBed
        TConstruct:CraftingStation
        TConstruct:CraftingSlab
        TConstruct:ToolStationBlock
        AncientWarfareNpc:town_hall
        harvestcraft:pamcandleDeco1
        harvestcraft:pamcandleDeco2
        harvestcraft:pamcandleDeco3
        harvestcraft:pamcandleDeco4
        harvestcraft:pamcandleDeco5
        harvestcraft:pamcandleDeco6
        harvestcraft:pamcandleDeco7
        harvestcraft:pamcandleDeco8
        harvestcraft:pamcandleDeco9
        harvestcraft:pamcandleDeco10
        harvestcraft:pamcandleDeco11
        harvestcraft:pamcandleDeco12
        harvestcraft:pamcandleDeco13
        harvestcraft:pamcandleDeco14
        harvestcraft:pamcandleDeco15
        harvestcraft:pamcandleDeco16
        ganyssurface:lantern
        malisisdoors:curtain_black
        malisisdoors:curtain_red
        malisisdoors:curtain_green
        malisisdoors:curtain_brown
        malisisdoors:curtain_blue
        malisisdoors:curtain_purple
        malisisdoors:curtain_cyan
        malisisdoors:curtain_silver
        malisisdoors:curtain_gray
        malisisdoors:curtain_pink
        malisisdoors:curtain_lime
        malisisdoors:curtain_yellow
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_magenta
        malisisdoors:curtain_orange
        malisisdoors:curtain_white
     >

    # If true, Zombies will be able to grief blocks from the block list without needing the right tool.
    B:"Griefable Blocks Ignore Tool Requirement"=true

    # Zombies will look at this many random nearby blocks each tick to decide if it will grief it
    I:"How many iterations to search for Griefable Blocks per tick"=30
    B:Infectious=true
    B:"Need Required Tools"=false

    # How many blocks to give zombies to pillar up with
    I:"Pillaring Blocks"=28
}


