# Configuration file

options {
    # Enable the Update Checker? Disabling this will remove all traces of the MUD.
    B:enableMUD=true

    # RFID and Mag cards will return '-1' for UUIDs.  Allows for less secure security. [default: false]
    B:ignoreUUIDs=false

    # Enable/Disable the playSoundAt feature of alarm blocks, this allows any user to play any sound at any location in a world, and is exploitable, disabled by default.
    B:playSoundAt=false

    # If false the block break event will not be registered, which will leave Door Controllers and Security Doors able to be broken. [default: true]
    B:registerBlockBreak=true

    # The maximum range of the RFID Reader in blocks [range: 1 ~ 64, default: 16]
    I:rfidMaxRange=16

    # If true - turrets should rotate as in old versions. [default: true]
    B:turretReverseRotation=true
}


